{% extends "base.html" %}
{% load static %}
{% block page_title %}Вы вышли из системы{% endblock %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}

    <div class="custom-center-block">
        <h2 class="main__title" style="text-align: center">Вы вышли из системы</h2>
        <p class="custom-text-block">
            Вы вышли из своей учётной записи. Спасибо, что воспользовались нашим сайтом. Ждём вас снова!
        </p>
        <div class="custom-button-block">
            <a href="{% url 'index' %}" class="button button_style_blue">Перейти на главную</a>
        </div>
    </div>

{% endblock %}