{% extends "base.html" %}
{% load static %}
{% block page_title %}Сброс пароля прошел успешно{% endblock %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}

    <div class="custom-center-block">
        <h2 class="main__title" style="text-align: center">Сброс пароля прошел успешно</h2>
        <p class="custom-text-block">
            Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.
        </p>
        <div class="custom-button-block">
            <a href="{% url 'index' %}" class="button button_style_blue">Перейти на главную</a>
        </div>
    </div>

{% endblock %}