{% extends 'base.html' %}
{% load static %}


{% block page_title %}
    {{ page_title }}
{% endblock %}


{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}


{% block content %}
    <div class="main__header">
        <h1 class="main__title">{{ page_title }}</h1>
        {% include 'recipes/includes/tags.html' %}
    </div>
<!--    {{ request.path }}-->
<!--    {{ request.get_full_path }}-->
<!--    {{ request.GET.urlencode }}-->
<!--    {{ request.resolver_match.url_name }}-->

    {% block subscribe %}
    {% endblock %}

    <div class="card-list">
        {% for recipe in page_obj %}
            {% include 'recipes/includes/recipe_card.html' with recipe=recipe %}
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
        {% include 'recipes/includes/paginator.html' with items=page_obj paginator=paginator %}
    {% endif %}
{% endblock %}


{% block static_js %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>

    <script src="{% static 'js/components/Purchases.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'js/components/Favorites.js' %}"></script>
    {% endif %}

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>

    {% if page_title == 'Рецепты' and user.is_authenticated %}
        <script src="{% static 'js/templates/indexAuth.js' %}"></script>

    {% elif page_title == 'Рецепты' %}
        <script src="{% static 'js/templates/indexNotAuth.js' %}"></script>

    {% elif page_title == 'Избранное' %}
        <script src="{% static 'js/templates/favorite.js' %}"></script>
    {% endif %}


{% endblock %}
